#image1{
    width:300px;
    height:200px;
}
#image2{
    width:300px;
    height:200px;
}
#image3{
    width:300px;
    height:200px;
}
#image4{
    width:300px;
    height:200px;
}
#image5{
    width:300px;
    height:200px;
}
#image6{
    width:300px;
    height:200px;
}
#image7{
    width:300px;
    height:200px;
}
#image8{
    width:300px;
    height:200px;
}
.links:hover{
    background-color:blue;
    text-decoration:none;
}
a{
    text-decoration:none:
}
.links{
    text-decoration:none;
    color:crimson;
}
html{
    text-align:center;
}